/* 游戏界面 */
* {
    margin: 0;
}

.game{
    width: 100vw;
    height: 100vh;
}

.game-playground{
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.game-playground>canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 菜单 */
.game-menu {
    /* width: 100vw;
    height: 100vh;
    background-color: #2c3e50; */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("/static/img/menu/background.jpg");
    background-size: cover;
    user-select: none;
}

.game-menu-field {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 20%;
}

.game-menu-field-item {
    color: white;
    width: 15vw;
    height: 4vh;
    border: 1px solid #eee;
    border-radius: 18px;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    transform: scale(1.2);
    transition: 100ms;
    margin-bottom: 5vh;
}

.game-menu-field-item:hover {
    box-shadow: 15px 15px 25px rgba(33, 44, 55, 0.5);
}