/* 游戏界面 */
* {
    margin: 0;
}

.game{
    width: 100vw;
    height: 100vh;
}

.game-playground{
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.game-playground>canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 菜单 */

.game-menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/img/menu/background.png");
    background-size: 100% 100%;
    user-select: none;
}

.game-menu-field {
    width: 20vw;
    position: relative;
    top: 40%;
    left: 20%;
}

.game-menu-field-item {
    width: 18vw;
    height: 5vh;
    color: white;
    font-size: 4vh;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
}

.game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}