{% load static %} <!--引入static关键字用于下面的索引，Django的功能-->
<head>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div id="game">
    </div>

    <script type="module">
        import { Game } from "{% static 'js/dist/game.js' %}";
        $(document).ready(function () {
            let game = new Game("game"); //这里传入前面定义的div的id，用于js将内容渲染到对应div内
        });
    </script>
</body>